body{
    background-color: rgb(117 21 22);
}

.container-geral{
    height: 100%;
    width: 100%;
}

.meio{
    width: 85%;
    align-items: center;
    height: 100%;
    background-color: rgb(255, 221, 221);
    margin-left: 150px;
    
}

.banner {
    width: 100%;
    height: 550px;
    background-image: url('banner2.jpg');
    text-align: justify;
    background-size: cover;
    border-bottom: solid rgb(155, 1, 1) 8px;
    box-shadow: #000000 0px 45px 600px ;
}

.banner h3{
width: 70%;
margin: auto;
text-align: center;
}

.banner h1 {
    color: white;
    padding-top: 135px;
    font-size: 120px;
    font-weight: bold;
    text-align: center;
}
.banner h1{
    font-family: 'Metal Lord';
   padding-top: 11%;
    color: white;
    text-align: center;
}
.banner h3{
        font-family: 'MetalShred';
        font-size: 50px;
        color: white;
        padding-left: 40px;
        text-align: center;
}

.img-div1 img{
    width: 380px;
    height: 500px;
    margin-top: 30px;
    margin-left: 100px;
    border-radius: 7px;
    float: left;
    
 }

 .corpo-div1 {
    height: 560px;
    border-bottom: solid rgb(155, 1, 1) 5px;
    background-color: rgb(255, 231, 231);
    box-shadow: rgb(0, 0, 0) 5px 4px 10px;
    align-items: center;
    display: block;
}
.txt-div1 {
    justify-content: safe;
    width: 500px;
    float: left;
    font-size: 20px;
    margin-top: 75px;
    margin-right: 40px;
    text-align: justify;
    font-family: 'Metal Lord';
    padding-left: 30px;
    border-right: solid rgb(114, 0, 0) 2px;
    height: 453px;
}

.txt-div1 h1{
    font-family: 'Metal Lord';
    color: rgb(114, 0, 0);
    text-align: justify;
    font-size: 40px;
}

.txt-div1 h4{
    color: rgb(114, 0, 0);
    font-family: 'MetalShred';
    font-size: 50px;
}

.nota{
    width: 500px;
    float: right;
    border-left: solid rgb(114, 0, 0) 2px;
    margin-top: 75px;
    height: 453px;
}

.nota h1{
    font-size: 120px;
    font-family: 'Metal Lord';
    text-align: center;
    margin-top: 80px;
}

.nota h3{
    font-size: 40px;
    font-family: 'MetalShred';
    color: rgb(114, 0, 0);
    text-align: center;
}

.container-estrelas{
    text-align: center;
}

.container-estrelas img{
width: 75px;
height: 75px;
}

.form-avalia{
    color: rgb(114, 0, 0);
    font-family: 'MetalShred';
    font-size: 40px;
    margin-top: 100px;  
    margin-left: 20px ;  
    padding-top: 5px;
    border-top: solid rgb(114, 0, 0) 1px;
}

.form-avalia button{
    width: 170px;     
    height:48px; 
    margin-left: 23px;
    background: no-repeat #720000;
    font-family:'MetalShred';
    font-size:40px;
    color:#fff;
    border-radius: 10px;
}

.form-avalia input{
    width: 180px;     
    height:28px;   
    border-radius: 8px;
    border-style: outset;
    border-color: rgb(114, 0, 0);
}   

.mediana{
    text-align: center;
    font-family: 'Metal Lord';
    color: #720000;
    font-size: 100px;
   padding-top: 100px;
}

