*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(117, 21, 22);
}

.meio{
    width: 85%;
    align-items: center;
    height:100%;
    background-color: rgb(246, 246, 246);
    margin-left: 150px;
    
}
.container-geral{
    height: 1090px;
    width: 100%;
}

.cadast{
    font-family: 'Metal Lord';
    color: rgb(107, 0, 0);
    text-align: center;
    font-size: 60px;
    border-bottom: solid rgb(155, 1, 1)3px;
    padding-top: 20px;
}

.corpo-div1 {
    height: 560px;
    border-bottom: solid rgb(155, 1, 1) 5px;
    background-color: rgb(255, 231, 231);
    box-shadow: rgb(0, 0, 0) 5px 4px 10px;
    align-items: center;
    display: block;
  
}

.formulario{
    margin-top: 80px;
    justify-content: center;
    width: 25%;
    margin-left: 36%;
    align-items: center;
    background-color: rgb(155, 155, 155);
    text-align: center;
    height: 400px;
    padding: 20px;
    border-radius: 20px;
    border-style: ridge;
    border-color: rgb(105, 0, 0);
    box-shadow: #000000 40px 40px 50px ;
    padding-top: 100px;
}

.formulario button{
    width: 270px;     
    height:68px; 
    margin-left: 23px;
    background: no-repeat #4e0000;
    font-family:'MetalShred';
    font-size:40px;
    color:#fff;
    border-radius: 10px;
    margin-top: 50px;
}

.form{
    font-family: 'MetalShred';
    font-size: 30px;
}

.form input{
width: 250px;
height: 25px;
border-style: outset;
margin-top: 10px;
border-radius: 5px;
}

.belzeLog{
    width: 420px;
    height: 470px;
    float: left;
    margin-top: 130px;
    margin-left: 60px;
}

.sloth{
    width: 420px;
    height: 470px;
    float: right;
    margin-top: 130px;
    margin-right: 60px;
    padding-bottom: 400px;
}

.aguarde{
    margin-top: 40px;
}

.baiCad{
    margin-top: 280px;
    text-align: center;
   
}

.barraBaixo{
    font-family: 'Metal Lord';
    color: rgb(107, 0, 0);
    text-align: center;
    font-size: 60px;
    border-top: solid rgb(155, 1, 1)3px;
  
    padding-left: 450px;

}