*{
    margin: 0;
    padding: 0;
}

.container{
    width: 95%; 
    margin: auto;
}


.header{
    background-color: #0f0f0f;
    width: 100%;
    height: 80px;
    border-bottom: solid rgb(155, 1, 1) 8px;
}

.header img{
    width: 100px;
    height: 80px;
    float: left;
}

.header ul{
    display: inline-block;
    float: right;
}

.header li{
    display: inline-block;
    font-size: 17px;
    text-transform: uppercase;
    padding: 6px;
    border-radius: 10px;
    background-color: #111111;
    font-family: 'nexa';
    border-style:groove ;
    border-color:rgb(155, 1, 1) ;
    box-shadow: rgb(97, 0, 0) 5px 5px 10px;
}

.header ul li a{
    text-decoration: none;
    color: white;
}


.header h1{
    font-family: 'Metal Lord';
    float: left;
    color: white;
    padding-left: 40px;
}

.header h1, .header ul{
    margin-top: 20px;
}

.header h1{
    float: left;
    color: white;
}

.not{
    color: rgb(155, 1, 1);
}
