*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(117, 21, 22);
}


/* FIM DO HEADER */
.container-geral{
    height: 100%;
    width: 100%;
}

.meio{
    width: 85%;
    align-items: center;
    height: 100%;
    background-color: rgb(255, 221, 221);
    margin-left: 7%;
    
}

.banner {
    width: 100%;
    height: 500px;
    background-image: url('banner2.jpg');
    text-align: justify;
    background-size: cover;
    border-bottom: solid rgb(155, 1, 1) 8px;
    box-shadow: #000000 0px 45px 600px ;
}

.banner-container h3{
width: 70%;
margin: auto;
text-align: center;
}

.banner-container h1 {
    color: white;
    padding-top: 10%;
    font-size: 120px;
    font-weight: bold;
    text-align: center;
}
.banner h1{
    font-family: 'Metal Lord';
   padding-top: 11%;
    color: white;
    text-align: center;
}
.banner h3{
        font-family: 'MetalShred';
        font-size: 50px;
        color: white;
        padding-left: 1%;
        text-align: center;
}

.corpo-div1 {
    height: 560px;
    border-bottom: solid rgb(155, 1, 1) 5px;
    background-color: rgb(255, 231, 231);
    box-shadow: rgb(0, 0, 0) 5px 4px 10px;
    align-items: center;
    display: block;
}

.corpo-div1 span{
font-family: 'Metal Lord';
color: rgb(117, 21, 22);
font-size: 40px;
padding-left: 20px;

}

.corpo-div1 input{
    border-radius: 5px;
    border-style: ridge;
    width: 200px;
    height: 20px;
    border-color: rgb(117, 21, 22);
}

.corpo-div1 iframe{
    float: right;
    width: 500px;
    padding-right: 20px;
    margin-top: 30px;
    border-radius: 10px;
}
 .corpo-div1 button{
    width: 270px;     
    height:68px; 
    margin-left: 50px;
    background: no-repeat #720000;
    font-family:'MetalShred';
    font-size:40px;
    color:#fff;
    border-radius: 10px;
 }

 .lista-rank{
     padding-top: 30px;
 }

 .baiLog{
    margin-top: 300px;
    text-align: center;
}

.barraBaixo{
    font-family: 'Metal Lord';
    color: rgb(107, 0, 0);
    text-align: center;
    font-size: 60px;
    border-top: solid rgb(155, 1, 1)3px;


}
